html {
    text-align: center;
    background: linear-gradient(-90deg, saddlebrown, salmon);
}

header {
    font-weight: bold;
    font-size: 40px;
}

button {
    border-radius: 12px;
    font-size: 20px;
    background-color: tan;
}

p {
    margin: 15px 200px;
    padding: 10px;
    border: 3px solid black;
    color: tan;
}

#t-shirt {
    padding: 100px;
    background: url(shirt.jpg) no-repeat left;
    color: black;
}
