
    html { 
         background: url(salmon.jpg);
        

        color: black;  
    }
    header{
        align-self: auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
        font-size: 60px;
    }
    table {
        border: double 
         2px 
         black;
        padding: 10px;
    }
    td {
        border: solid 2px blue;
        /* border-spacing: 5px 500px; */
        padding: 10px 10px 10px 10px;
     }
     th {    
     empty-cells: hide;}  
     

     th {
        border: dotted 3px green;
        padding: 10px;
    }   
         