html,
body {
    text-align: center;
    background: url(salmon.png) no-repeat center bottom, linear-gradient(-90deg, chocolate, saddlebrown);
    height: 100%
}

header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 70px;
}

table {
    margin: auto;
    background-color: sandybrown;
    border: double 2px black;
    padding: 5px;
}

td {
    border: solid 2px;
    padding: 5px 5px 5px 5px;
}

th {
    empty-cells: hide;
}

#addStore {
    width: fit-content;
    margin: 45px auto;
    text-align: center;
    background: brown;
    background: -webkit-linear-gradient(-90deg, chocolate, saddlebrown);
}
button{
    border-radius: 12px;
    font-size: 20px;
    background-color:white;
}