
    html { 
       background: url(cookie-stand/salmon.jpg);
        color: black;  
    }
    table {
        border: double 
         2px 
         black;
        padding: 15px;
    }
    td {
        border: solid 2px blue;
        /* border-spacing: 5px 500px; */
        padding: 15px 15px 15px 15px;
     }
     th {    
     empty-cells: hide;}  
     

     th {
        border: dotted 3px green;
        padding: 15px;
    }   
         