
    html { 
       background: url(cookie-stand/salmon.JPG);
        color: black;  
    }
    table {
        border: double 
         2px 
         black;
        padding: 7px;
    }
    td {
        border: solid 2px blue;
        padding: 3px
    }
    th {
        border: solid 3px green;
        padding: 3px
    }    
      